{% extends 'home.html' %}
{% load static %}
{% block content %}
        <!-- BEGIN #product -->
        <div id="product" class="section-container p-t-20">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN breadcrumb -->
                <ul class="breadcrumb m-b-10 f-s-12">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Mobile Phone</a></li>
                    <li><a href="#">Apple</a></li>
                    <li class="active">iPhone 6S Plus</li>
                </ul>
                <!-- END breadcrumb -->
                
                <!-- BEGIN product -->
                <div class="product">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <div class="product-image">
                            <!-- BEGIN product-thumbnail -->
                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                    <li class="active">
                                        <a href="#" data-click="show-main-image" data-url="{{ product.image.url }}">
                                            <img src="{{ product.image.url }}" alt="" />
                                        </a>
                                    </li>
                                    {% for product_image in product.product_image.all %}
                                        <li>
                                            <a href="#" data-click="show-main-image" data-url="{{ product_image.image.url }}">
                                                <img src="{{ product_image.image.url }}" alt="" />
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- END product-thumbnail -->
                            <!-- BEGIN product-main-image -->
                            <div class="product-main-image" data-id="main-image">
                                <img src="{{ product.image.url }}" alt="" />
                            </div>
                            <!-- END product-main-image -->
                        </div>
                        <!-- END product-image -->
                        <!-- BEGIN product-info -->
                        <div class="product-info">
                            <!-- BEGIN product-info-header -->
                            <div class="product-info-header">
                                <h1 class="product-title"><span class="label label-success">{{ product.discount_percentage }} %OFF</span> {{product.title}} </h1>
                                <ul class="product-category">
                                    <li><a href="#">{{ product.parent.parent_category.name }}</a></li>
                                    <li>/</li>
                                    <li><a href="#">{{product.parent.name}}</a></li>
                                    <li>/</li>

                                </ul>
                            </div>
                            <!-- END product-info-header -->
                            <!-- BEGIN product-warranty -->
                            <div class="product-warranty">
                                <div class="pull-right">In Stock: {{ product.in_stock }}</div>
                                <div><b>{{ product.warranty }} Year</b> Local Manufacturer Warranty</div>
                            </div>
                            <!-- END product-warranty -->
                            <!-- BEGIN product-info-list -->
                            <ul class="product-info-list">
                              {{product.description}}
                            </ul>
                            <!-- END product-info-list -->
                            <!-- BEGIN product-social -->
                            <div class="product-social">
                                <ul>
                                    <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                            <!-- END product-social -->
                            <!-- BEGIcdN product-purchase-container -->
                            <div class="product-purchase-container">
                                <div class="product-discount">
                                    <span class="discount">$ {{ product.price }}</span>
                                </div>
                                <div class="product-price">
                                    <div class="price">$ {{product.discounted_price }}</div>
                                </div>
                                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-inverse btn-lg cart">ADD TO CART</a>



                                </div>
                            <!-- END product-purchase-container -->
                        </div>
                        <!-- END product-info -->
                    </div>
                    <!-- END product-detail -->
                    <!-- BEGIN product-tab -->
                    <div class="product-tab">
                        <!-- BEGIN #product-tab -->
                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                            <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                            <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                        </ul>
                        <!-- END #product-tab -->
                        <!-- BEGIN #product-tab-content -->
                        <div id="product-tab-content" class="tab-content">
                            <!-- BEGIN #product-desc -->
                            <div class="tab-pane fade active in" id="product-desc">
                                <!-- BEGIN product-desc -->
                                {% for product_desc in product.product_description.all %}
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="{{ product_desc.image.url }}" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4>{{ product_desc.title }}</h4>
                                        <p>
                                            {{product_desc.description}}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- END product-desc -->
                                <!-- BEGIN product-desc -->

                                <!-- END product-desc -->

                            </div>
                            <!-- END #product-desc -->
                            <!-- BEGIN #product-info -->
                            <div class="tab-pane fade" id="product-info">
                                <!-- BEGIN table-responsive -->
                                <div class="table-responsive">
                                    <!-- BEGIN table-product -->
                                    <table class="table table-product table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                {% for additinal_info in additional_information %}
                                                <th>{{ additinal_info.main_title }}</th>
                                                <th>{{additinal_info.main_title1 }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                                                                        {% for additinal_info in additional_information %}

                                        <tbody>

                                            <tr>

                                                <td class="field">{{additinal_info.title}}</td>
                                                <td>
                                                   {{additinal_info.description1}}
                                                </td>
                                                <td>
                                                    {{additinal_info.description2}}

                                                </td>

                                            </tr>


                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    <!-- END table-product -->
                                </div>
                                <!-- END table-responsive -->
                            </div>
                            <!-- END #product-info -->
                            <!-- BEGIN #product-reviews -->
                            <div class="tab-pane fade" id="product-reviews">
                                <!-- BEGIN row -->
                                <div class="row row-space-30">
                                    <!-- BEGIN col-7 -->
                                    <div class="col-md-7">
                                        <!-- BEGIN review -->

                                        <div class="review">
                                            {% for review in reviews %}
                                            <div class="review-info">
                                                <div class="review-icon"><img src="assets/img/user-1.jpg" alt="" /></div>
                                                <div class="review-rate">
                                                    <ul class="review-star">
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class="active"><i class="fa fa-star"></i></li>
                                                        <li class=""><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    ({{review.rating}}/5)
                                                </div>
                                                <div class="review-name">{{review.user}}</div>
                                                <div class="review-date">{{review.created_at}}</div>
                                            </div>
                                            <div class="review-title">
                                                {{review.title}}
                                            </div>                        
                                            <div class="review-message">
                                                {{review.review}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- END review -->
                                        <!-- BEGIN review -->


                                        <!-- BEGIN review -->

                                    </div>
                                    <!-- END col-7 -->
                                    <!-- BEGIN col-5 -->
                                    <div class="col-md-5">
                                        <!-- BEGIN review-form -->
                                        <div class="review-form">
                                            <form action="product_detail.html" name="review_form" method="POST">
                                                <h2>Write a review</h2>
                                                <div class="form-group">
                                                    <label for="name">Name <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Title <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="review">Review <span class="text-danger">*</span></label>
                                                    <textarea class="form-control" rows="8" id="review"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Rating  <span class="text-danger">*</span></label>
                                                    <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                        <i class="fa fa-star-o" data-value="2"></i>
                                                        <i class="fa fa-star-o" data-value="4"></i>
                                                        <i class="fa fa-star-o" data-value="6"></i>
                                                        <i class="fa fa-star-o" data-value="8"></i>
                                                        <i class="fa fa-star-o" data-value="10"></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div>
                                                    <select name="rating" class="hide">
                                                        <option value="2">2</option>
                                                        <option value="4">4</option>
                                                        <option value="6">6</option>
                                                        <option value="8">8</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>            
                                                <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                            </form>
                                        </div>
                                        <!-- END review-form --> 
                                    </div>
                                    <!-- END col-5 -->
                                </div>
                                <!-- END row -->
                            </div>
                            <!-- END #product-reviews -->
                        </div>
                        <!-- END #product-tab-content -->
                    </div>
                    <!-- END product-tab -->
                </div>
                <!-- END product -->
                
                <!-- BEGIN similar-product -->
                <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
                    <div class="row row-space-10">
                                    {% for item in featured_products %}
                                        <!-- BEGIN col-2 -->
                                        <div class="col-md-2 col-sm-4">
                                            <!-- BEGIN item -->
                                            <div class="item item-thumbnail">
                                                <a href="{% url 'product_detail' product_name=item.title %}" class="item-image">
                                                    <img src="{{ item.image.url }}" alt="" />
                                                    <div class="discount">{{ item.discount_percentage }} %OFF</div>
                                                </a>
                                                <div class="item-info">
                                                    <h4 class="item-title">
                                                        <a href="{% url 'product_detail' product_name=item.title %}">{{ item.title }}</a>
                                                    </h4>
                                                    <p class="item-desc">{{ item.description }}</p>
                                                    <div class="item-price">${{ item.discounted_price }}</div>
                                                    <div class="item-discount-price">${{ item.price }}</div>
                                                </div>
                                            </div>
                                            <!-- END item -->
                                        </div>
                                        <!-- END col-2 -->
                                    {% endfor %}
                    </div>
                </div>
                <!-- END similar-product -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #product -->
{% endblock content %}
